@import "https://fonts.googleapis.com/css?family=Roboto";
#navbar-animmenu ul li a,
.hori-selector {
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.switch label .bulb .bulb-center,
.switch label .bulb .bulb-center:after {
  border-radius: 50%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.7s;
}
body {
  font-family: Roboto, sans-serif;
}
#navbar-animmenu ul li a i,
i {
  margin-right: 10px;
}
#navbar-animmenu {
  background: #5822af;
  float: left;
  overflow: hidden;
  padding: 10px 0;
  position: relative;
  width: 100%;
}
#navbar-animmenu ul {
  margin: 0;
  padding: 0;
}
#navbar-animmenu li {
  float: left;
  list-style-type: none;
}
#navbar-animmenu ul li a {
  color: hsla(0, 0%, 100%, 0.5);
  display: block;
  font-family: Mona Sans;
  font-size: 1em;
  font-weight: 700;
  line-height: 45px;
  padding: 0 20px;
  position: relative;
  text-decoration: none;
}
#navbar-animmenu > ul > li.active > a {
  background-color: transparent;
  color: #fff;
  transition: 0.7s;
}
#navbar-animmenu a:not(:only-child):after {
  content: "\f105";
  display: inline-block;
  font-family: Font Awesome\5 Free;
  font-size: 14px;
  font-weight: 900;
  padding-right: 3px;
  position: absolute;
  right: 20px;
  top: 10%;
  transition: 0.5s;
  vertical-align: middle;
}
#navbar-animmenu .active > a:not(:only-child):after {
  transform: rotate(90deg);
}
.hori-selector {
  background-color: #0f0f0f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  display: inline-block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 10px;
}
.hori-selector .left,
.hori-selector .right {
  background-color: #0f0f0f;
  bottom: 10px;
  height: 25px;
  position: absolute;
  width: 25px;
}
.hori-selector .right {
  right: -25px;
}
.hori-selector .left {
  left: -25px;
}
.hori-selector .left:before,
.hori-selector .right:before {
  background-color: #5822af;
  border-radius: 50%;
  content: "";
  height: 50px;
  position: absolute;
  width: 50px;
}
.hori-selector .right:before {
  bottom: 0;
  right: -25px;
}
.hori-selector .left:before {
  bottom: 0;
  left: -25px;
}
.switch {
  left: 80%;
  position: relative;
}
.switch input {
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
}
.switch label {
  background-color: #39315a;
  border-radius: 100px;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2),
    inset 0 0 5px -2px rgba(0, 0, 0, 0.4);
  display: block;
  height: 60px;
  width: 170px;
}
.switch label .bulb {
  background-color: #4a426b;
  border-radius: 50%;
  box-shadow: inset 0 0 1px 3px #4a426b, inset 0 0 6px 8px #423963,
    0 20px 30px -10px rgba(0, 0, 0, 0.4);
  display: block;
  height: 40px;
  left: 10px;
  position: relative;
  top: 10px;
  transition: 0.7s;
  width: 40px;
}
.switch label .bulb .bulb-center {
  background-color: #5a527b;
  box-shadow: inset 0 0 0 4px #635a84;
  display: block;
  height: 36px;
  width: 36px;
}
.switch label .bulb .bulb-center:after {
  background-color: #7b7394;
  box-shadow: 0 0 2px 4px #524a73;
  content: "";
  display: block;
  height: 14px;
  width: 14px;
}
.switch label .bulb .filament-1,
.switch label .bulb .filament-2 {
  border-radius: 50%;
  display: block;
  height: 35px;
  left: 50%;
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 35px;
}
.switch label .bulb .filament-1:after,
.switch label .bulb .filament-1:before,
.switch label .bulb .filament-2:after,
.switch label .bulb .filament-2:before {
  border: 2px solid #4a426b;
  border-radius: 50%;
  content: "";
  display: block;
  height: 6px;
  left: -2px;
  position: absolute;
  top: -4px;
  transform: rotate(-10deg);
  transition: 0.7s;
  width: 17px;
}
.reflections,
.reflections span,
.reflections span:after {
  border-radius: 50%;
  position: absolute;
}
.switch label .bulb .filament-1:before,
.switch label .bulb .filament-2:before {
  left: 15px;
  transform: rotate(10deg);
}
.switch label .bulb .filament-2 {
  transform: translate(-50%, -50%) rotate(45deg) !important;
}
.reflections {
  display: block;
  height: 100%;
  overflow: hidden;
  perspective: 70px;
  width: 100%;
  z-index: 90;
}
.reflections span {
  background-image: linear-gradient(
    -135deg,
    transparent 10%,
    hsla(0, 0%, 100%, 0.3)
  );
  bottom: -45px;
  height: 80px;
  left: -40px;
  width: 80px;
}
.reflections span:after {
  box-shadow: 4px -2px 0 -3px hsla(0, 0%, 100%, 0.4);
  content: "";
  display: block;
  filter: blur(1px);
  height: 35px;
  right: -40px;
  top: -36px;
  transform: rotate(-10deg);
  width: 20px;
}
.reflections:after {
  background-image: linear-gradient(
    80deg,
    hsla(0, 0%, 100%, 0.05) 45%,
    hsla(0, 0%, 100%, 0.5)
  );
  border-radius: 10% 20% 50% 30%/30% 60% 30% 40%;
  height: 80px;
  left: -5px;
  top: -8px;
  transform: rotateX(-25deg) rotate(-35deg) skewx(-15deg) translate(10px, -20px);
  transform-style: preserve-3d;
  width: 50px;
}
.reflections:after,
.reflections:before {
  content: "";
  display: block;
  position: absolute;
}
.reflections:before {
  background-image: linear-gradient(
    90deg,
    transparent,
    hsla(0, 0%, 100%, 0.15)
  );
  bottom: 10px;
  height: 10px;
  right: 0;
  transform: rotate(45deg);
  width: 30px;
}
.sparks .spark1,
.sparks .spark2,
.sparks .spark3,
.sparks .spark4 {
  border-radius: 50%;
  display: block;
  opacity: 0;
  transition: 0.4s;
}
.sparks .spark1 {
  background-color: #d1b82b;
  bottom: 23px;
  height: 1px;
  position: absolute;
  right: -5px;
  width: 1px;
}
.sparks .spark2,
.sparks .spark3 {
  background-color: #d1b82b;
  bottom: 80px;
  height: 3px;
  position: absolute;
  width: 3px;
}
.sparks .spark2 {
  right: 20px;
}
.sparks .spark3 {
  left: 20px;
}
.sparks .spark4 {
  background-color: #d1b82b;
  bottom: 20px;
  height: 3px;
  left: 20px;
  position: absolute;
  width: 3px;
}
.switch input:checked ~ label .bulb {
  background-color: #a7694a;
  box-shadow: inset 0 0 1px 3px #a56758, inset 0 0 6px 8px #6b454f,
    0 20px 30px -10px rgba(0, 0, 0, 0.4), 0 0 30px 50px rgba(253, 184, 67, 0.1);
  left: 120px;
}
.switch input:checked ~ label .bulb .bulb-center {
  background-color: #feed6b;
  box-shadow: inset 0 0 0 4px #fdec6a, 0 0 12px 10px #bca83c,
    0 0 20px 14px #a1664a;
}
.switch input:checked ~ label .bulb .bulb-center:after {
  background-color: #fef401;
  box-shadow: 0 0 2px 4px #fdb843;
}
.switch input:checked ~ label .bulb .sparks .spark1 {
  animation: spark1 2s ease-in-out 0.4s;
  height: 1px;
  width: 1px;
}
.switch input:checked ~ label .bulb .sparks .spark2 {
  animation: spark2 2.4s ease-in-out 0.4s;
  height: 1px;
  width: 1px;
}
.switch input:checked ~ label .bulb .sparks .spark3 {
  animation: spark3 2s ease-in-out 0.9s;
  height: 1px;
  width: 1px;
}
.switch input:checked ~ label .bulb .sparks .spark4 {
  animation: spark4 1.7s ease-in-out 0.9s;
  height: 1px;
  width: 1px;
}
@keyframes spark1 {
  0% {
    height: 1px;
    opacity: 0;
    right: -5px;
    width: 1px;
  }
  20% {
    height: 3px;
    opacity: 1;
    right: 0;
    width: 3px;
  }
  30% {
    height: 3px;
    opacity: 1;
    right: -5px;
    width: 3px;
  }
  70% {
    height: 3px;
    width: 3px;
  }
  to {
    bottom: 40px;
    opacity: 0;
    right: -60px;
  }
}
@keyframes spark2 {
  0% {
    height: 3px;
    opacity: 0;
    width: 3px;
  }
  30% {
    opacity: 1;
  }
  to {
    bottom: 100px;
    opacity: 0;
    right: -20px;
  }
}
@keyframes spark3 {
  0% {
    opacity: 0;
  }
  30% {
    height: 2px;
    opacity: 1;
    width: 2px;
  }
  to {
    bottom: 100px;
    height: 3px;
    left: 0;
    opacity: 0;
    width: 3px;
  }
}
@keyframes spark4 {
  0% {
    opacity: 0;
  }
  30% {
    height: 2px;
    opacity: 1;
    width: 2px;
  }
  to {
    bottom: -10px;
    height: 3px;
    left: -20px;
    opacity: 0;
    width: 3px;
  }
}
